*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.app {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 240px;
  padding: 10px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F0F1F3;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.sidebar-logo {
  /* position: absolute;
  top: 24px;
  left: 28px; */
}

.sidebar-logo-image {
  width: 122px;
  height: 22px;
}

.border-sidebar {
  border: 1px solid #F0F1F3;
}

.sidebar-item {
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  color: #5A6689;
  padding: 12px 10px 12px 10px;
  border-radius: 8px;
  height: 42px;
  display: flex;
  align-items: center;
  transition: all;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.menu-children {
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  color: #5A6689;
  padding: 10px 10px 10px 46px;
  border-radius: 8px;
  height: 38px;
}

.menu-children.active {
  color: #291CCB;
}

.sidebar-item.active {
  background-color: #EDEDFC;
  color: #291CCB;
}

.deposit {
  margin-top: auto;
  height: 142px;
}

.deposit-header {
  height: 32px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  display: flex;
  align-items: center;
}

.deposit-header-logo {
  width: 30px;
  height: 30px;
}

.deposit-header-content {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.deposit-header-content-top {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #070707;
}

.deposit-header-content-bot {
  color: #76809D;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.deposit-button-list {
  padding: 12px 0px 12px 0px;
  height: 62px;
  -moz-column-gap: 4px;
  column-gap: 4px;
}

.deposit-btn {
  width: 100px;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #DBDDE5;
  color: #303648;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
} 
.withdraw-btn {
  background-color: #4C40E6;
  color: #fff;
}

.collapse {
  display: flex;
  height: 40px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  justify-content: space-between;
  align-items: center;
}
.collapse .collapse-left {
  height: 40px;
  padding: 9px;
  -moz-column-gap: 14px;
       column-gap: 14px;
  display: flex;
  align-items: center;
}
.collapse .collapse-left .collapse-left-icon {
  width: 22px;
  height: 22px;
  color: #9199B1;
}
.collapse .collapse-left .collapse-text {
  color: #5A6689;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.collapse .collapse-right-icon {
  width: 22px;
  height: 22px;
  color: #9199B1;
}

.main-table {
  padding: 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-table .header-menu {
  height: 36px;
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
  width: 100%;
  align-items: center;
}
.main-table .header-menu .header-menu-item {
  color: #76809D;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.main-table .header-menu .header-menu-item.active {
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  color: #1409A0;
  background-color: #EDEDFC;
}/*# sourceMappingURL=index.css.map */