*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --border-primary: #e1e3e7;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: Inter;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

table {
  border-spacing: 0px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.app {
  width: 100%;
  display: flex;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.w-240 {
  width: 240px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.pt-3 {
  padding-top: 12px;
}

.pr-3 {
  padding-right: 12px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.h-screen {
  height: 100vh;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.gap-x-1 {
  -moz-column-gap: 4px;
       column-gap: 4px;
}

.gap-x-2 {
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.gap-x-3 {
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.gap-x-4 {
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.gap-x-5 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.gap-y-1 {
  row-gap: 4px;
}

.gap-y-2 {
  row-gap: 8px;
}

.gap-y-3 {
  row-gap: 12px;
}

.gap-y-4 {
  row-gap: 16px;
}

.gap-y-5 {
  row-gap: 16px;
}

.padding-10 {
  padding: 10px;
}

.bg-white {
  background-color: white;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.top-0 {
  top: 0;
}

.border {
  border-width: 1px;
}

.border-r-primary {
  border-right: 1px solid #f0f1f3;
}

.w-122 {
  width: 122px;
}

.h-22 {
  height: 22px;
}

.border-sidebar {
  border: 1px solid #f0f1f3;
}

.cursor-pointer {
  cursor: pointer;
}

.text-base {
  font-size: 16px;
}

.leading-6 {
  line-height: 24px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 8px;
}

.h-42 {
  height: 42px;
}

.sidebar-item {
  color: #5a6689;
  transition: all;
  -moz-column-gap: 16px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-l-46 {
  padding-left: 46px;
}

.text-primary {
  color: #5a6689;
}

.h-38 {
  height: 38px;
}

.menu-children.active {
  color: #291ccb;
}

.sidebar-item.active {
  background-color: #ededfc;
  color: #291ccb;
}

.deposit {
  margin-top: auto;
  height: 142px;
}

.h-32 {
  height: 32px;
}

.w-30 {
  width: 30px;
}

.h-30 {
  height: 30px;
}

.deposit-header-content {
  row-gap: 2px;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.deposit-header-content-top {
  color: #070707;
}

.text-xs {
  font-size: 12px;
}

.leading-3 {
  line-height: 12px;
}

.deposit-header-content-bot {
  color: #76809d;
}

.h-62 {
  height: 62px;
}

.deposit-button-list {
  padding: 12px 0px 12px 0px;
}

.w-100 {
  width: 100px;
}

.text-sm {
  font-size: 14px;
}

.leading-5 {
  line-height: 20px;
}

.rounded-md {
  border-radius: 6px;
}

.deposit-btn {
  border: 1px solid #dbdde5;
  color: #303648;
} 
.withdraw-btn {
  background-color: #4c40e6;
}

.text-white {
  color: #fff;
}

.h-10 {
  height: 40px;
}

.gap-x-70 {
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.padding-9 {
  padding: 9px;
}

.gap-x-14 {
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.w-22 {
  width: 22px;
}

.h-22 {
  height: 22px;
}

.collapse .collapse-left .collapse-left-icon {
  color: #9199b1;
}
.collapse .collapse-left .collapse-text {
  color: #5a6689;
}
.collapse .collapse-right-icon {
  color: #9199b1;
}

.padding-14 {
  padding: 14px;
}

.main-table {
  flex: 1;
}

.h-36 {
  height: 36px;
}

.w-full {
  width: 100%;
}

.header-menu-item {
  color: #76809d;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.header-menu-item.active {
  border-radius: 6px;
  padding: 8px 12px 8px 12px;
  color: #1409a0;
  background-color: #ededfc;
}

.main-table-layout {
  border: 1px solid var(--border-primary);
  margin-top: 14px;
  border-radius: 8px;
  overflow: hidden;
}

.main-table-body {
  width: 100%;
}

.table-header-item {
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  color: #5a6689;
  padding: 12px 24px 12px 24px;
  border-left: 0;
  border-right: 0;
}

.cancel-header {
  color: #b01212;
  font-weight: 600;
}

.cancel-btn {
  color: #b01212;
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.cancel-btn.cancel-hidden {
  display: none;
}

.cancel-btn span {
  color: #b01212;
}

.cancel-icon {
  width: 20px;
  height: 20px;
}

.table-body-item {
  border-top: 0;
  align-items: middle;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  white-space: nowrap;
  padding: 16px 24px 16px 24px;
  font-weight: 500;
  line-height: 20px;
  color: #1c1f27;
}

.table-row-item.active {
  background-color: #ecedf0;
}

.table-content {
  align-items: center;
  width: 100%;
  background-color: transparent;
  border-collapse: separate;
}

.main-table-header {
  background-color: #f9f9fa;
  border-bottom: 1px solid #ecedf0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.market-content {
  color: #5a6689;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.buy-btn {
  color: #00632b;
}

.buy-btn.sell-btn {
  color: #b01212;
}

.status-btn {
  color: #00632b;
  background-color: #e8fcf1;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  height: 20px;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
}

.status-btn.filled-status {
  background-color: #fff5d5;
  color: #976400;
}

.status-btn.canceled-status {
  background-color: #ffebeb;
  color: #b01212;
}

.pagination-layout {
  height: 62px;
  border-top: 1px solid var(--border-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pagination-result {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #5a6689;
}

.pagination-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid var(--border-primary);
  background: white;
  padding: 9px;
}

.arrow-left {
  width: 20px;
  height: 20px;
}

.arrow-right {
  width: 20px;
  height: 20px;
}

.pagination-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid var(--border-primary);
  background: #fff;
  background: white;
  padding: 9px;
}

.pagenum-btn {
  display: flex;
  padding: 9px 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-primary);
  background-color: #fff;
  color: #5a6689;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.pagination-list--number {
  display: flex;
  align-items: center;
}

.pagenum-btn.active {
  border: 1px solid #291ccb;
  color: #1409a0;
  background-color: #ededfc;
}/*# sourceMappingURL=style.css.map */